.movie {
    max-width: 80%;
}

.movie-image {
    height: 250px;
}

@media screen and (min-width: 694px) and (max-width: 990px) {
    .movie {
        max-width: 90%;
    }
}

@media screen and (min-width: 574px) and (max-width: 767px) {
    .movie {
        max-width: 50%;
        margin: auto;
    }
}

@media screen and (min-width: 444px) and (max-width: 574px) {
    .movie {
        max-width: 60%;
        margin: auto;
    }
}

@media screen and (max-width: 444px) {
    .movie {
        max-width: 70%;
        margin: auto;
    }
}

